

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: "微软雅黑,宋体";
}

/*#region 查询条件样式*/

.searchContent td {
    width: 90px;
    padding: 5px;
}

/*#endregion*/

/*#region 列表样式*/



/*#endregion*/

/*#region 编辑页面样式*/

.pageTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

    .pageTable .tableName {
        text-align: right;
        width: 100px;
    }

    .pageTable .tableValue input {
        width: 180px;
    }

/*#endregion*/
